<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.linuxtools.internal.oprofile.remote.launch.launching.OprofileRemoteLaunchConfigurationDelegate"
            id="org.eclipse.linuxtools.oprofile.launch.oprofile.remote"
            modes="profile"
            name="%launchconfigurationtype.remote.label"
            public="true"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.linuxtools.oprofile.launch.oprofile.remote"
            icon="icons/profile_run.png"
            id="org.eclipse.linuxtools.oprofile.launch.oprofileImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.linuxtools.internal.oprofile.remote.launch.configuration.OprofileRemoteLaunchConfigurationTabGroup"
            id="org.eclipse.linuxtools.oprofile.launch.remoteLaunchConfigurationTabGroup"
            type="org.eclipse.linuxtools.oprofile.launch.oprofile.remote">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="org.eclipse.ptp.launch.ui.ResourcesTab"
            group="org.eclipse.linuxtools.oprofile.launch.remoteLaunchConfigurationTabGroup"
            id="org.eclipse.linuxtools.oprofile.launch.oprofile.applicationLaunch.resourcesTabProfile"
            name="%ResourcesLaunchTab.name">
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.ApplicationTab"
            group="org.eclipse.linuxtools.oprofile.launch.remoteLaunchConfigurationTabGroup"
            id="org.eclipse.linuxtools.oprofile.launch.oprofile.applicationLaunch.applicationTabRun"
            name="%ApplicationLaunchTab.name">
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.resourcesTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.ArgumentsTab"
            group="org.eclipse.linuxtools.oprofile.launch.remoteLaunchConfigurationTabGroup"
            id="org.eclipse.linuxtools.oprofile.launch.oprofile.applicationLaunch.argumentsTabRun"
            name="%ArgumentsLaunchTab.name">
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.applicationTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.EnvironmentTab"
            group="org.eclipse.linuxtools.oprofile.launch.remoteLaunchConfigurationTabGroup"
            id="org.eclipse.linuxtools.oprofile.launch.oprofile.applicationLaunch.environmentTabRun"
            name="%EnvironmentLaunchTab.name">
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.argumentsTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.ptp.launch.ui.EnhancedSynchronizeTab"
            group="org.eclipse.linuxtools.oprofile.launch.remoteLaunchConfigurationTabGroup"
            id="org.eclipse.linuxtools.oprofile.launch.oprofile.applicationLaunch.synchronizeTab"
            name="%SynchronizeLaunchTab.name">
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.environmentTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab"
            group="org.eclipse.linuxtools.oprofile.launch.remoteLaunchConfigurationTabGroup"
            id="org.eclipse.linuxtools.oprofile.launch.oprofile.applicationLaunch.synchronizeTab"
            name="%SourceLookupLaunchTab.name">
         <placement
               after="org.eclipse.ptp.launch.applicationLaunch.synchronizeTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.CommonTab"
            group="org.eclipse.linuxtools.oprofile.launch.remoteLaunchConfigurationTabGroup"
            id="org.eclipse.linuxtools.oprofile.launch.oprofile.applicationLaunch.commonTabRun"
            name="%CommonLaunchTab.name">
         <placement
               after="org.eclipse.debug.ui.sourceLookupTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.linuxtools.internal.oprofile.remote.launch.configuration.OprofileRemoteEventConfigTab"
            group="org.eclipse.linuxtools.oprofile.launch.remoteLaunchConfigurationTabGroup"
            id="org.eclipse.linuxtools.oprofile.launch.oprofile.oprofileTab"
            name="%OprofileLaunchTab.name">
         <placement
               after="org.eclipse.debug.ui.commonTab">
         </placement>
      </tab>
   </extension>
   <extension
         point="org.eclipse.linuxtools.oprofile.core.OpcontrolProvider">
      <opcontrolProvider
            class="org.eclipse.linuxtools.internal.oprofile.remote.core.linux.RemoteLinuxOpcontrolProvider"
            scheme="remotetools">
      </opcontrolProvider>
   </extension>
</plugin>
